@import '~styles/globals';

.container {
  margin: 5% auto;
  height: 80%;
  width: 80%;
}


:global {
  .dayz  {
    font-size: 18px;

    .day {
      height: 100px;
    }

    .x-labels {
      height: auto;
    }

    .y-labels {
      text-indent: 0;
      width: 98%;
    }

    .events {
      height: 80%;
      width: 95%;
    }
  }

  //
  .dayz.month .days .day .event {
    height: 80%;
  }
}
